.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 9999;
}
.sxq-toast-content {
  color: #fff;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.toast-fade-enter,
.toast-fade-leave-to {
  opacity: 0;
  .toast {
    transform: scale(0.5);
  }
}

.toast-fade-enter-active,
.toast-fade-leave-active {
  transition: opacity 0.5s;
  .toast {
    transition: transform 0.5s;
  }
}
