.sxq-input-number {
  position: relative;
  display: inline-block;
  width: 180px;
  line-height: 38px;

  &.input-number-medium {
    width: 200px;
    line-height: 34px;
    .input-button-minus,
    .input-button-add {
      width: 36px;
      height: 34px;
      font-size: 14px;
    }
    .sxq-input {
      font-size: 14px;
      .sxq-input_inner {
        height: 36px;
        line-height: 36px;
        padding-left: 43px;
        padding-right: 43px;
      }
    }
  }
  &.input-number-small {
    width: 130px;
    line-height: 30px;
    .input-button-minus,
    .input-button-add {
      width: 32px;
      height: 30px;
      font-size: 13px;
      top: 2px;
    }
    .sxq-input {
      font-size: 13px;
      .sxq-input_inner {
        height: 32px;
        line-height: 32px;
        padding-left: 39px;
        padding-right: 39px;
      }
    }
  }
  &.input-number-mini {
    width: 130px;
    line-height: 26px;
    .input-button-minus,
    .input-button-add {
      width: 28px;
      height: 26px;
      font-size: 12px;
      top: 2px;
    }
    .sxq-input {
      font-size: 12px;
      .sxq-input_inner {
        height: 28px;
        line-height: 28px;
        padding-left: 35px;
        padding-right: 35px;
      }
    }
  }

  .is-disabled {
    color: #c0c4cc !important;
    cursor: not-allowed !important;
  }

  .input-button-minus,
  .input-button-add {
    position: absolute;
    z-index: 1;
    top: 1px;
    width: 40px;
    height: 38px;
    text-align: center;
    background: #f5f7fa;
    color: #606266;
    cursor: pointer;
    font-size: 13px;
  }

  .input-button-minus {
    left: 1px;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #dcdfe6;
  }

  .input-button-add {
    right: 1px;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #dcdfe6;
  }

  .sxq-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;

    .sxq-input_inner {
      -webkit-appearance: none;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
      background-color: #fff;
      background-image: none;
      border-radius: 4px;
      border: 1px solid #dcdfe6;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      font-size: inherit;
      height: 40px;
      line-height: 40px;
      outline: none;
      padding: 0 15px;
      transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      width: 100%;
      &:hover {
        border-color: #c0c4cc;
      }

      &.is-disabled {
        border-color: #dcdfe6 !important;
      }

      &:focus {
        outline: none;
        border-color: #409eff;
      }
    }
  }
}
