.sxq-message {
  width: 380px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #ebeef5;
  position: fixed;
  z-index: 99999;
  line-height: 20px;
  transition: top 0.5s;
  background-color: #edf2fc;
  padding: 15px 15px 15px 20px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;

  .close-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.sxq-message-success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
}

.sxq-message-success .sxq-message-content {
  color: #67c23a;
}

.sxq-message-warning {
  background-color: #fdf6ec;
  border-color: #faecd8;
}

.sxq-message-warning .sxq-message-content {
  color: #e6a23c;
}

.sxq-message-error {
  background-color: #fef0f0;
  border-color: #fde2e2;
}

.sxq-message-error .sxq-message-content {
  color: #f56c6c;
}

.sxq-message-info .sxq-message-content {
  color: #909399;
}

.message-fade-enter,
.message-fade-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}

.message-fade-enter-active,
.message-fade-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}
